################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CarPooling/bin
/CarPooling/obj
/CarPooling.Concerns/bin
/CarPooling.Concerns/obj
/Carpooling.Contracts/bin
/Carpooling.Contracts/obj
/CarPooling.Providers/bin
/CarPooling.Providers/obj
/CarPooling.DataModels/bin/Debug/netstandard2.0
/CarPooling.DataModels/obj
/Carpooling.Web/.vs/Carpooling.Web/v15/.suo
